.chats {
	&__list {
		display: flex;
		flex-direction: column;
	}
	&__item {
		border: 1px solid white;
		background-color: white;
		width: 70%;
		border-radius: 30px;
		padding: 15px 10px;
		margin: 10px;
	}
}
